# Ignorar todos los __pycache__ en cualquier carpeta
__pycache__/
# Ignorar archivos compilados de Python
*.pyc
*.pyo
*.pyd
# Ignorar archivos de configuración de entornos virtuales
# .env
.venv
#ignorar carpeta de entornos virtuales
venv/
# Ignorar node_modules de UI
UI/node_modules/
